@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=DynaPuff:wght@700&display=swap");

body {
    background-color: #c6e0dd;
    margin: 0px;
}

.App {
    text-align: center;
}

.App * {
    border: 1px solid red;
    font-family: "Dongle", sans-serif;
}

.burger-and-menu {
    display: grid;
    grid-auto-columns: 1fr fit-content(400px);
}

.burger-on-plate {
    position: relative;
    height: 85vh;
    grid-column: 1;
}

.toggle-menu-btn {
    position: absolute;
    top: 25px;
    left: 20px;
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
    cursor: pointer;
    font-size: 15px;
    line-height: 29px;
    padding: 0 10px;
}

.toggle-menu-btn:hover {
    background-color: #f7fafa;
}

.toggle-menu-btn:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
    outline: 0;
}

.plate {
    background-color: #e4e4e4;
    height: 200px;
    width: 600px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 2px 2px 8px 2px #000;
}

.burger {
    width: 400px;
    margin: 20px auto;
    height: 76vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.cheese {
    background-color: #e8ea02;
    border-radius: 10px;
    height: 15px;
    border-bottom: 5px solid #eab902;
    z-index: 2;
}

.tomato {
    border-radius: 14px;
    background-color: #f13233;
    height: 20px;
    border-bottom: 5px solid #940c0e;
    z-index: 2;
}

.top-bun {
    height: 100px;
    border-radius: 900px 900px 10px 10px;
    background-color: #a27732;
    border-top: 9px solid #906725;
    z-index: 2;
}

.bottom-bun {
    background-color: #a27732;
    border-radius: 10px 10px 50px 50px;
    height: 60px;
    border-bottom: 11px solid #724d12;
    z-index: 2;
}

.beef-patty {
    border-radius: 15px;
    background-color: #603102;
    height: 30px;
    border-bottom: 16px solid #402408;
    z-index: 2;
}

.lettuce {
    border-radius: 8px;
    background-color: #80d041;
    height: 8px;
    border-bottom: 3px solid #0f6d12;
    z-index: 2;
}

.onion {
    border-radius: 8px;
    background-color: #b95381;
    height: 13px;
    border-bottom: 4px solid #7e1846;
    z-index: 2;
    z-index: 2;
}

.cheese-label {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 25%;
    font-family: "DynaPuff", cursive;
    color: #e8ea02;
    text-shadow: 0 0 5px #eab902;
    font-size: 40px;
}

.menu {
    /* height: fit-content; */
    height: 85vh;
    min-width: fit-content;
    background-color: #fedda3;
    border: 3px solid #fcc966;
    border-radius: 20px;
    margin: 20px;
    grid-column: 2;
    position: relative;
}

.hide-menu {
    display: none;
}

.menu h1 {
    font-family: "DynaPuff", cursive;
    font-size: 45px;
    color: #19baa3;
    text-shadow: 0 0 5px #b7fdf3;
    margin: 20px;
}

.menu-buttons {
    position: relative;
    background-color: #f9f9f9;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    transform: rotate(-3deg);
    padding: 20px 10px;
}

.menu-buttons:before {
    content: "";
    position: absolute;
    /* z-index: -1; */
    background-color: none;
    border: 1.75px dashed #19baa3;
    transform: rotate(6deg);
    top: 0px;
    left: 5px;
    right: 5px;
    bottom: 0px;
    border-radius: 20px;
}

.menu h2 {
    font-family: "DynaPuff", cursive;
    font-size: 30px;
    color: #f56c75;
    text-shadow: 0 0 5px #faf3f4;
    transform: rotate(3deg);
}

.menu button {
    background-color: #ee646e;
    border-radius: 100px;
    box-shadow: rgba(242, 151, 157, 0.2) 0 -25px 18px -14px inset,
        rgba(242, 151, 157, 0.15) 0 1px 2px, rgba(242, 151, 157, 0.15) 0 2px 4px,
        rgba(242, 151, 157, 0.15) 0 4px 8px,
        rgba(242, 151, 157, 0.15) 0 8px 16px,
        rgba(242, 151, 157, 0.15) 0 16px 32px;
    color: #fdf6eb;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 10px;
    transform: rotate(3deg);
}

.menu button:hover {
    box-shadow: rgba(242, 151, 157, 0.35) 0 -25px 18px -14px inset,
        rgba(242, 151, 157, 0.25) 0 1px 2px, rgba(242, 151, 157, 0.25) 0 2px 4px,
        rgba(242, 151, 157, 0.25) 0 4px 8px,
        rgba(242, 151, 157, 0.25) 0 8px 16px,
        rgba(242, 151, 157, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(2deg);
}

.copyright {
    font-size: 20px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 5px;
}

.table-cloth {
    background: white;
    height: 28vh;
    width: 100vw;
    background-image: linear-gradient(
            90deg,
            rgba(200, 0, 0, 0.5) 50%,
            transparent 0
        ),
        linear-gradient(rgba(200, 0, 0, 0.5) 50%, transparent 0);
    background-size: 30px 30px;
    position: absolute;
    bottom: 5vh;
    z-index: -1;
}

.bounce-in-top {
    -webkit-animation: bounce-in-top 1.1s both;
    animation: bounce-in-top 1.1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-4-14 11:41:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@media (max-width: 414px) {
    .burger-and-menu {
        grid-auto-columns: 1fr;
    }
    .burger-on-plate {
        height: 60vh;
        grid-column: 1;
    }
    .toggle-menu-btn {
        top: 10px;
        left: 5px;
    }
    .plate {
        height: 100px;
        width: 300px;
        box-shadow: 1px 1px 4px 1px #000;
    }
    .burger {
        width: 250px;
        height: 50vh;
    }
    .cheese-label {
        top: 15%;
        font-size: 30px;
    }
    .menu {
        height: fit-content;
        min-width: fit-content;
        width: 95%;
        margin: 10px;
        grid-column: 1;
        padding-bottom: 30px;
    }
    .menu h1 {
        font-size: 25px;
        margin: 0px;
    }

    .menu-buttons {
        padding: 5px 5px;
        width: 90%;
        transform: rotate(-1deg);
    }
    .menu-buttons:before {
        transform: rotate(2deg);
        left: -2px;
        right: -2px;
    }
    .menu h2 {
        font-size: 20px;
        transform: rotate(1deg);
        margin: 2px;
    }
    .menu button {
        padding: 3px 10px;
        margin: 2px;
        transform: rotate(1deg);
    }

    .copyright {
        font-size: 15px;
        bottom: -10px;
    }

    .table-cloth {
        height: 55vh;
        background-image: linear-gradient(
                90deg,
                rgba(200, 0, 0, 0.5) 50%,
                transparent 0
            ),
            linear-gradient(rgba(200, 0, 0, 0.5) 50%, transparent 0);
        background-size: 20px 20px;
        bottom: 0vh;
    }
}
@media (min-width: 415px) and (max-width: 1180px) {
    .burger-and-menu {
        grid-auto-columns: 1fr;
    }
    .burger-on-plate {
        height: 60vh;
        grid-column: 1;
    }
    .toggle-menu-btn {
        top: 10px;
        left: 5px;
    }
    .burger {
        height: 50vh;
    }
    .cheese-label {
        top: 20%;
    }
    .menu {
        height: fit-content;
        width: 95%;
        margin: 20px 10px;
        grid-column: 1;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .menu h1 {
        margin: 0px;
    }

    .menu-buttons {
        width: 95%;
        transform: rotate(-1deg);
    }
    .menu-buttons:before {
        transform: rotate(2deg);
        left: -2px;
        right: -2px;
    }
    .menu h2 {
        transform: rotate(1deg);
        margin: 10px;
    }
    .menu button {
        text-decoration: none;
        margin: 4px;
        transform: rotate(1deg);
    }

    .copyright {
        font-size: 20px;
        bottom: -22px;
    }

    .table-cloth {
        height: 52vh;
        width: 100vw;
        background-image: linear-gradient(
                90deg,
                rgba(200, 0, 0, 0.5) 50%,
                transparent 0
            ),
            linear-gradient(rgba(200, 0, 0, 0.5) 50%, transparent 0);
        background-size: 25px 25px;
        bottom: 5vh;
    }
}
